sudo: no
language: node_js
node_js:
- '4.7.3'
- '7.5.0'
- 'node'
branches:
  only:
  - master
install:
- npm install
- npm install jshint
script:
- jshint .
- npm test
notifications:
  email: false
deploy:
  provider: npm
  email: lonnen@mozilla.com
  api_key:
    secure: a+RxKYrMVIA7B/SiphMVLBVlaeuufTwas6bdUlYCJWlzMugtKBDqnYu4NN9qTdQIOmy5Z0zgnOxvf8VQEfLQ3B3rJTw6/JSl3FlSfmoiWmTxRJx4MCYXpJykAgvdZeKIysG91watX/BQRYS3LR8KkxER/coqiLoOMtZwAfrQO2Y=
  on:
    tags: true
    repo: mozilla/corsica
