
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.brand {
  padding-left: 38px;
  background: url(../img/logo-mono.svg) left center no-repeat;
  background-size: auto 32px;
  float: left;
  height: 32px;
  line-height: 36px;
  font-weight: normal;
}

.topbar {
  background: #444;
  color: #fff;
  overflow: hidden;
  padding: 10px 20px;
  margin-bottom: 1em;
}

#content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#content iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
