
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

body {
  background: url(../img/logo.svg) center no-repeat;
  background-size: auto 80%;
  overflow: hidden;
  max-height: 100%;
}

#app, #content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

#app {
  cursor: none;
}

.show-hud #app {
  cursor: inherit;
}

#hud {
  opacity: 0;
  transition: .4s opacity ease-out;
  position: absolute;
  bottom: 4vh;
  right: 4vh;
  text-align: right;
}
#hud button {
  cursor: none;
}

button {
  font-size: 3vh;
  border: 0;
  padding: .5em 1em;
  background: #000;
  color: #fff;
  border-radius: 1vh;
}

.show-hud #hud {
  opacity: 1;
}
.show-hud #hud button {
  cursor: pointer;
}

#content iframe {
  width: 100%;
  height: 100%;
  border: 0;
  background: #fff;
  pointer-events: none;
  transform-origin: left top;
}

#toast {
  font-size: 6vh;
  background: rgba(0,0,0,.8);
  color: #fff;
  font-family: sans-serif;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 100vh);
  padding: 3vh 6vh;
  border-radius: 3vh;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: .3s, .3s;
  transition-timing-function: ease-out, ease-out;
}

#toast.show {
  transform: translate(-50%, 80vh);
  opacity: 1;
}
